/* Estilização CSS da visualização para telas superiores a 1920x860px */

*{
	margin:0;
	padding: 0;
}

body{
   font-family: Helvetica;
   color:#fff;
   text-align: center;
   width: 100%;
}

.page-principal{
	position: relative;
	width:100%;
	margin:0 auto;
	height: 960px;
	background-color:#ff2244;
}